html,
body {
  height: 100%; 
}

#seta-dropdown::after {
    display: none;
}

#limite-texto {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 300px; 
}

#imagem-produto {
    width: 150px;
    height: 150px; 
    object-fit: cover;
    border-radius: 8px; 
}